In [2]:
from utils import *
%matplotlib inline

In [9]:
power_df_list = []

In [20]:
st = "2020-12-01 00:00:00"
et = "2020-12-30 23:59:59"

In [21]:
power_df = get_data_section(client, '_power', st, et, uuid_dict, '1T')
power_df = power_df.tz_convert(tz_local).tz_localize(None).resample('1T').mean()
power_df.head()

,building,freezer,ref_comp,ref_fan,hvac_west,hvac_east
2020-12-01 00:00:00,28402.929688,3761.668213,13.337038,43.140068,336.699951,810.276428
2020-12-01 00:01:00,33986.343750,3736.499512,4246.878906,42.183403,336.271851,809.517639
2020-12-01 00:02:00,NaN,3724.044434,3905.634277,460.360748,NaN,NaN
2020-12-01 00:03:00,33626.980469,NaN,NaN,NaN,336.534210,809.727905
2020-12-01 00:04:00,29933.537109,3721.269775,13.393645,455.376038,333.942108,810.967651

In [22]:
power_df_list.append(power_df)

In [26]:
pd.concat(power_df_list, axis=0).to_csv('sample_data/acuvim_meters.csv')

In [27]:
rtac_df_list = []

In [30]:
st = "2020-08-01 00:00:00"
et = "2020-08-31 23:59:59"

In [31]:
rtac_df = get_data_section(client, '_rtac', st, et, uuid_dict, '1T')
rtac_df = rtac_df.tz_convert(tz_local).tz_localize(None).resample('1T').mean()
rtac_df.head()

ValueError: No objects to concatenate

In [6]:
rtac_df['building_load'] = power_df['building']
rtac_df.to_csv('sample_data/rtac.csv')

In [7]:
rtac_df

,bess_power,island_type,pv_generation,islanding_state,building_load
2020-08-17 00:00:00,-5999.0,0.0,0.0,0.0,30382.558594
2020-08-17 00:01:00,-5576.0,0.0,0.0,0.0,27333.298828
2020-08-17 00:02:00,-5955.0,0.0,0.0,0.0,31749.375000
2020-08-17 00:03:00,-5953.0,0.0,0.0,0.0,NaN
2020-08-17 00:04:00,-5978.0,0.0,0.0,0.0,30705.521484
...,...,...,...,...,...
2020-08-20 23:55:00,-41964.0,0.0,0.0,0.0,NaN
2020-08-20 23:56:00,-42121.0,0.0,0.0,0.0,33545.230469
2020-08-20 23:57:00,-42183.0,0.0,0.0,0.0,33263.675781
2020-08-20 23:58:00,-42108.0,0.0,0.0,0.0,32824.781250
2020-08-20 23:59:00,-42147.0,0.0,0.0,0.0,39264.132812